.footer {

  background-color: $mainColor;
  padding: 75px 0 58px;

  @include breakpoint(md){
    padding: 42px calc(100vw / 15.05) 50px;
  }
  @include breakpoint(sm){
    padding: 27px 10px 48px;
  }
  &__row {
  }

  &__callback {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: .5px solid $secondaryColor;
    padding-bottom: 33px;
    column-gap: 40px;
    @include breakpoint(md){
      padding-bottom: 19px;
    }
    @include breakpoint(sm){
      flex-direction: column;
      border-bottom: unset;
      align-items: start;
      row-gap: 30px;
      padding-bottom: 0;
    }
  }

  &__mail-wrapper {
    @include breakpoint(sm){
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 0.5px solid $secondaryColor;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 30px;
    @include fluid-type(768px, $maxWidth, 24px, 36px);
    @include breakpoint(md){
      margin-bottom: 21px;
      line-height: 29px;
      @include fluid-type(380px, 768px, 18px,24px);
    }
    @include breakpoint(xs38){
      margin-bottom: 11px;
      line-height: 22px;
    }
  }

  &__mail {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #6B5AF9;
    transition: .3s ease-in-out;
    @include fluid-type(768px, $maxWidth, 29px, 48px);
    @include breakpoint(md){
      line-height: 35px;
      @include fluid-type(380px, 768px, 20px, 29px);
    }
    @include breakpoint(xs38){
      line-height: 20px;
    }
    &:hover{
      color:#7A6AFF;
    }
/*    &:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      opacity: 0;
      bottom: -3px;
      background-color: $secondaryColor;
      transition: .3s ease-in-out;
    }
    &:hover:before{
      opacity: 1;
    }*/
  }

  &__btn-wrapper {
    @include breakpoint(lg){
      width: 100%;
    }
  }

  &__modal-btn {
  }

  .modal__btn {
  }

  &__contacts {
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    @include breakpoint(md){
      padding-top: 30px;
    }
    @include breakpoint(sm){
      flex-direction: column-reverse;
      row-gap: 46px;
    }
  }

  &__contacts-l {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 300px;


    @include fluid-type(768px, $maxWidth, 14px, 18px);
    @include breakpoint(md){
      max-width: 230px;
      line-height: 17px;

    }
  }

  &__address {
    margin-bottom: 24px;
    @include breakpoint(md){
      margin-bottom: 34px;
    }
    @include breakpoint(sm){
      margin-bottom: 26px;
    }
  }

  &__schedule {
  }

  &__phone-number {
    color:#fff;
    transition: .3s ease-in-out;
    &:visited{
      color: #fff;
    }
    &:hover{
      color:$secondaryColor;
    }
  }

  &__socials {
    display: flex;
    column-gap: 20px;
  }

  &__social {
    height: fit-content;
    display: flex;

    svg{
      path:first-child{
        transition: .3s ease-in-out;
      }
    }
    &:hover{
      svg{
        path:first-child{
          fill:$secondaryColor;
        }
      }
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    display: block;
    margin: 0 auto 20px;
    svg{
      rect{
        transition: .3s ease-in-out;
      }
    }
    &:hover{
      svg{
        rect{
          fill: #43cd93;
        }
      }
    }
    @include breakpoint(md){
      margin: 37px auto 31px;
    }
    @include breakpoint(md){
      margin: 30px auto 24px;
    }
  }

  &__rights {
    max-width: 440px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0 auto 16px;
    text-align: center;
    @include breakpoint(xs38){
      max-width: 222px;
      margin-bottom: 30px;
    }
  }

  &__privacy-policy {
    @extend .footer__rights;
    text-decoration-line: underline;
    margin-bottom: 0;
    position: relative;
    //transition: .3s ease-in-out;

    &:visited{
      color:#fff;
    }
    &:before{
      content: '';
      width: 100%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: -2px;
      opacity: 0;
      //transition: .3s ease-in-out;
    }
    &:hover:before{
      opacity: 1;
    }
  }
}