.header{
  //display: none;
  overflow: hidden;
  .content-outer{
    position: relative;
    max-width: calc($maxWidth + 240px);
    margin:0 auto;
    @include breakpoint(sm){
      display: flex;
      justify-content: center;
    }
  }
  background-color: #fff;
  .content{
    position: relative;
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px  15px 23px;
  background-color: #fff;
  z-index: 5;
  column-gap: 34px;
  @include breakpoint(md){
    padding: 22px  32px 15px;
    position: fixed;
    width: 100%;
  }
  @include breakpoint(sm){
    padding: 15px ;
  }
  @include breakpoint(xs38){
    //height: 62px;
    padding: 14px  10px 13px;
  }
}
.align-center{
  @include breakpoint(md){
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.hamburger-wrapper {
  display: none;
  //max-width: 41px;
  //width: 100%;
  @include breakpoint(md){
    display: flex;

  }
}
.hamburger {
  //display: none;

  @include breakpoint(md){
    display: block;
    cursor: pointer;
    margin-right: auto;
    &.active .hamburger__bar:nth-child(2) {
      //opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      //transform: translateY(8px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      //transform: translateY(-8px) rotate(-45deg);
      width: 100%;
      background-color: #43CD93;
    }
  }
}

.hamburger__bar {
  display: block;
  width: 41px;
  height: 4px;
  margin: 4px 0;
  background-color: $secondaryColor;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;

  &:nth-child(2){
    width: 27px;
  }
  &:last-child{
    width: 15px;
  }

}
.nav__menu-list{
  display: flex;

  //justify-content: space-around;
  justify-content: start;
  align-items: center;
  column-gap:27px;
  flex-wrap: wrap;
  @include breakpoint(xl){
    column-gap: calc(100vw / 43);
  }
  @include breakpoint(md){
    flex-direction: column;
    row-gap: 27px;
  }
}

.nav__menu {
  overflow: auto;


  &.active{
    @include breakpoint(md){
      left: 0;
      height: 100%;
      justify-content: start;
      padding-top: calc(100vw / 5.65);
    }
  }

  @include breakpoint(md){
    padding-top: calc(100vw / 5.65);
    justify-content: start;

    height: 100%;
    position: fixed;
    left: -100%;
    top:68px;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    //box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 8px 8px -10px #CCC;
  }
  @include breakpoint(xs38){
    top: 62px;
  }
}

.nav__menu-md-content{
  display: none;
  @include breakpoint(md){
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-top: 60px;
  }
}


.nav__item {

  @include breakpoint(md){
    //margin:2.5rem 0;
  }
}

.nav__link{
  white-space: nowrap;
  color: $mainColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  position: relative;

  &:before{
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #43cd93;
    transition: .3s ease-in-out;
    bottom: -2px;
  }
  &:hover{
    color: $mainColor;

    &:before{
      width: 100%;
    }
  }
}

.nav__logo {
  display: flex;
  svg{
    rect{
      transition: .3s ease-in-out;
    }
  }
  @include breakpoint(lg){
    width: 115px;
  }
  @include breakpoint(md){
    svg{
      width: 115px;
      height: 35px;
    }
  }
  &:hover{
    svg{
      rect{
        fill: #43cd93;
      }
    }
  }

}

.nav__right-content {
  display: flex;
  //column-gap: 20px;
  align-items: center;
}

.nav__socials {
  display: flex;
  gap: 14px;
  align-items: center;
  @include breakpoint(lg){
    flex-direction: column;
  }
  @include breakpoint(md){
    display: none;
  }
}

.nav__social {
  display: flex;

  &:hover{
    svg{
      path:first-child{
        transition: .3s ease-in-out;
        fill:#43cd93;
      }
    }
  }
}

.nav__contacts {
  margin-left: 15px;
  @include breakpoint(md){
    display: none;
  }
}

.nav__phone {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  white-space: nowrap;
  color: $mainColor;
  transition: .3s ease-in-out;
  @include fluid-type(768px, 992px, 15px, 24px);

  &:hover{
    color:#43cd93;
  }
}

.nav__schedule {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color:$mainColor;
  @include fluid-type(768px,$maxWidth, 10px,  12px)
}
.nav__schedule-md{
  span{
    display: block;
  }
}

.nav__back-call-btn {

}

.nav__back-call-txt {
}

.nav__back-call-svg {
}
.nav__txt-purple{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $secondaryColor;
}
.nav__close{
  display: none;

  @include breakpoint(md){
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 25px;
    left: 44px;

  }
  @include breakpoint(sm){
    left: 30px;
  }

  @include breakpoint(xs38){
    top: 24px;
    left: 14px;
    svg{
      width: 14px;
      height: 14px;
    }
  }
  svg{
    path{
      transition: .3s ease-in-out;
    }
  }
  &:hover{
    svg{
      path{
        fill: $secondaryColor;
      }
    }
  }
}
.nav__contacts-link{
  display: inline-block;
  transition: .3s ease-in-out;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 1px;
    width: 0;
    transition: .3s ease-in-out;
    background-color: $secondaryColor;
    bottom: -2.5px;
  }
  &:hover:before{
    width: 100%;
  }
}
//####################################################  MODAL
.modal__window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  display:none;
}

.modal__close{
  cursor: pointer;
  position: absolute;
  right: 17px;
  top: 12px;
  display: flex;

  @include breakpoint(md){
    right: 12px;
  }
  @include breakpoint(sm){
    right: 9px;
  }
  &:hover{
    svg{
      path{
        transition: .3s ease-in-out;
        fill:#43cd93;
      }
    }
  }
}
.modal__content-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0;
  position: relative;
  width: 100%;
  max-width: 374px;
  margin: 0 auto;
  @include breakpoint(sm){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.modal__title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $mainColor;
  margin-bottom: 30px;
  @include fluid-type(380px, $maxWidth, 18px, 20px);
  @include breakpoint(xs38){
    line-height: 22px;
  }
}
.modal__label{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #7E7E7E;
}


.modal__content{
  border-radius: 10px;
  position: relative;
  top: 190px;
  width: 100%;
  max-width: 766px;
  height: fit-content;
  background-color: #fff;
  margin: 0 auto;
  animation-name:showModal;
  animation-duration: .4s;
  animation-timing-function: linear;

  @include breakpoint(md){
    max-width: 500px;
    top: 133px;
    height: auto;
  }
  @include breakpoint(sm){
    width: calc(100vw - 20px);
  }
}

.modal{
  &.active{
    .modal__window{
      display:block;
    }
  }
}
.modal__form{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 29px;
  margin-bottom: 13px;
}

.modal__txt{
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #9895B4;
  margin-bottom: 26px;

  @include breakpoint(xs38){
    margin-bottom: 21px;
  }
}

.modal__svg-wrapper{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  right: -7px;
}

.modal__img-wrapper{
  max-width: 220px;
  height: 102px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(83.88deg, #6B5AF9 -24.18%, #AEA4FE 112.68%);;
  border-radius: 10px;
  position: relative;
  @include breakpoint(sm){
    height: 94px;
  }
}
.modal__svg-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A6A6A6;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}
//####################################################  MODAL EMD
@keyframes showModal{
  0%{
    transform: scale(.5);
  }
  40%{
    transform:scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}


