@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: $maxWidth;
  margin: 0 auto;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 700;

  &.lock{
      overflow: hidden;
  }
}
.txt-purple {
  color:$secondaryColor;
}


.title-animation{
 opacity: 0;
  transform:translateX(150px);
  transition: opacity .5s ease-in, transform .6s ease-in;

  @include breakpoint(md){
    transform:translateX(80px);
  }
}

.normalize-opacity{
  opacity: 1;
}
.normalize-element{
  opacity: 1 !important;
  transform:translate(0, 0) !important;
}

.normalize-h-element{
  opacity: 1;
  transform:translateX(0) !important;
}
.normalize-v-element{
  opacity: 1;
  transform: translateY(0);
}