h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $mainColor;

  @include fluid-type(768px, $maxWidth, 24px, 36px);
  @include breakpoint(md){
    line-height: 29px;
    @include fluid-type(380px, 768px, 18px, 24px)
  }
  @include breakpoint(xs38){
    line-height: 22px;
  }

}