<section class="advantages">
    <div class="content">
        <div class="advantages__row">
            <h2 class="advantages__title title-animation">Мы создаем интернет-магазины,
                <span class="txt-purple"> которые продают</span></h2>
            <div class="advantages__cards">
                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">01</p>
                    <p class="advantages__card-title">Удобный интерфейс</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Блоковая подача информации, удобные кнопки, карточки товаров,
                        понятное меню и легкая навигация по многостраничному сайту.
                    </p>
                </a>

                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">02</p>
                    <p class="advantages__card-title">Продающая структура</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Делаем анализ вашей целевой аудитории и вашего предложения. Опираясь на анализ прописываем
                        продающуюу структуру сайта.
                    </p>
                </a>

                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">03</p>
                    <p class="advantages__card-title">Адаптивность</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Сайт корректно отображается на различных устройствах, элементы динамически подстраиваются под
                        различные разрешения экрана, что повышает конверсию сайта в покупку.
                    </p>
                </a>

                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">04</p>
                    <p class="advantages__card-title">Уникальный дизайн</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Не пользуемся шаблонными решениями. Под каждый проект разрабатывается индивидуальный дизайн
                        который подчеркнет имидж компании
                    </p>
                </a>

                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">05</p>
                    <p class="advantages__card-title">Защита и безопасность</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Подключаем HTPS протокол, защиту от DDOS атак, чтобы данные клиентов были в безопасности.
                    </p>
                </a>

                <a href="#" class="advantages__card">
                    <p class="advantages__card-number">06</p>
                    <p class="advantages__card-title">SEO оптимизация</p>
                    <hr class="advantages__card-delimiter"/>
                    <p class="advantages__card-desc">
                        Сайты соответствуют требованиям поисковой оптимизации, они без труда покоряют топы поисковой
                        выдачи Яндекс и Google.
                    </p>
                </a>
            </div>
            <a href="#" class="advantages__btn">Узнать стоимость</a>
        </div>
    </div>
</section>