<section class="benefits">
    <div class="content">
        <div class="benefits__row">
            <h2 class="benefits__title title-animation">Что вы <span class="txt-purple">получаете ?</span></h2>
            <div class="benefits__cards">
                <div class="benefits__card">
                    <div class="benefits__img-wrapper">
                        <img src="img/benefits-1.png" alt="Mobile" class="benefits__img">
                    </div>
                    <div class="benefits__card-desc">
                        <p class="benefits__card-title">Каталог товаров</p>
                        <ul class="benefits__list">
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    возможность выгружать свои товары в неограниченном количестве</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    добавлять и редактировать описание товаров</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    сортировать товары по заданным критериям</span>
                            </li>
                            <li class="benefits__item">
                                <span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    моментальная оплата товара или оформление при помощи добавления корзины</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="benefits__card benefits__card--reverse">
                    <div class="benefits__img-wrapper">
                        <img src="img/benefits-2.png" alt="Purchases" class="benefits__img">
                    </div>
                    <div class="benefits__card-desc">
                        <p class="benefits__card-title">Оформление заказа</p>
                        <ul class="benefits__list">
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    личный кабинет</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">
                                    корзина с отображением выбранных товаров</span></li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">оформление заказа с указанием контактных данных</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">возможность приема онлайн-платежей</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">использование купонов, скидок и специальных предложений
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="benefits__card ">
                    <div class="benefits__img-wrapper">
                        <img src="img/benefits-3.png" alt="Notebook" class="benefits__img">
                    </div>
                    <div class="benefits__card-desc">
                        <p class="benefits__card-title">Интеграции</p>
                        <ul class="benefits__list">
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">1С, Мой склад (выгрузка товаров на сайт, полная
                                    синхронизация)</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">Маркетплейсы (Яндекс.Маркет, Wildberries, Goods, Ozon)
                                </span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">Интеграция со службами доставки СДЭК, Почта
                                    России</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="benefits__card benefits__card--reverse">
                    <div class="benefits__img-wrapper">
                        <img src="img/benefits-4.png" alt="Orders control" class="benefits__img">
                    </div>
                    <div class="benefits__card-desc">
                        <p class="benefits__card-title">CRM</p>
                        <ul class="benefits__list">
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">фиксация и отслеживание поступивших заявок</span>
                            </li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">уведомления о заказах</span></li>
                            <li class="benefits__item"><span class="benefits__item-marker"></span>
                                <span class="benefits__item-txt">отчетность магазина</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="benefits__btn">Узнать стоимость</a>
        </div>
    </div>
</section>