<section class="callback">
    <div class="content">
        <div class="callback__row">
            <div class="callback__img-box-wrapper callback__img-wrapper">
                <img src="img/box.png" alt="Box">
            </div>
            <div class="callback__img-stick-wrapper callback__img-wrapper">
                <img src="img/stick.png" alt="Stick">
            </div>
            <div class="callback__img-circle-wrapper callback__img-wrapper">
                <img src="img/circle.png" alt="Circle">
            </div>
            <div class="callback__img-hand-wrapper callback__img-wrapper">
                <img src="img/hand.png" alt="Hand">
            </div>
            <div class="callback__img-sticker-wrapper callback__img-wrapper">
                <img src="img/top-element.png" alt="Sticker">
            </div>
            <div class="callback__txt-wrapper">
                <h2 class="callback__title">Компания
                    Millenium-</h2>
                <div class="callback__txt">
                    <p class="callback__paragraph">
                        Это дорогая и долгая разработка интернет-магазинов на 1С Битрикс! Нельзя сделать качественный
                        цифровой продукт за дешево и быстро!
                    </p>
                    <p class="callback__paragraph">
                        Мы создадим интернет-магазин с нуля. Заказчику не придется искать других IT-специалистов для
                        дальнейшей настройки и запуска сайта. Мы настроим сервисы, интегрируем модули для
                        онлайн-торговли, добавим контент и товары. Работы по созданию интернет-магазина с нуля ведутся
                        только после анализа ниши бизнеса.
                    </p>
                </div>
            </div>
            <form action="" class="callback__form">
                <p class="callback__form-title">
                    Звоните нам по телефону
                    <a href="tel:+74957926669" class="callback__phone">
                        +7 (495) 792-66-69
                    </a>
                </p>
                <p class="callback__form-desc">
                    или закажите обратный звонок чтобы получить ответы на все интересующие вас вопросы.
                </p>
                <input type="text" class="callback__f-name callback__input" placeholder="Введите ваше имя">
                <input type="text" class="callback__f-phone-number callback__input" placeholder="+ 7 (999) 999 99 99">
                <button type="submit" class="callback__btn" disabled>Перезвоните мне</button>
                <p class="callback__checkbox-wrapper">
                    <label class="callback__checkbox-label">
                        <input type="checkbox" name="rights" class="callback__checkbox">
                        <span class="callback__checkbox-fake"></span>
                        <span class="callback__checkbox-txt">
                                <a href="#" class="callback__txt--purple-l callback__private-policy">Cогласен/а на</a>
                            обработку персональных данных
                        </span>
                    </label>
                </p>
            </form>
        </div>
    </div>
</section>