<section class="certificate">
    <div class="content">
        <div class="certificate__row">
            <div class="certificate__inner-row">
                <div class="certificate__bitrix-img-wrapper">
                    <img src="img/star.png" alt="Bitrix logo" class="certificate__bitrix-logo">
                </div>
                <div class=" swiper">
                    <div class="swiper-wrapper certificate__slider">
                    <div class="certificate__slide swiper-slide">
                        <p class="certificate__subtitle">Сертификат</p>
                        <p class="certificate__title">Золотой сертифицированный партнер битрикс</p>
                        <div class="certificate__img-wrapper">
                            <picture>
                                <source media="(min-width: 992px)" srcset="img/certificate-1.jpg">
                                <img src="img/certificate-1-lg.jpg" alt="Certificate" class="certificate__img">
                            </picture>
                        </div>
                    </div>

                    <div class="certificate__slide swiper-slide">
                        <p class="certificate__subtitle">Сертификат</p>
                        <p class="certificate__title">Программы мониторинга качества внедрений</p>
                        <div class="certificate__img-wrapper">
                            <picture>
                                <source media="(min-width: 992px)" srcset="img/certificate-2.jpg">
                                <img src="img/certificate-2-lg.jpg" alt="Certificate" class="certificate__img">
                            </picture>
                        </div>
                    </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>