<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <div class="footer__callback">
                <div class="footer__mail-wrapper">
                    <p class="footer__subtitle">Напишите нам</p>
                    <a href="mailto:info@millenium.ru" class="footer__mail">info@millenium.ru</a>
                </div>
                <div class="footer__btn-wrapper">
                    <button class="footer__modal-btn modal__btn">Заказать звонок</button>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-l">
                    <p class="footer__address">
                        Москва,
                        ул. Профсоюзная 76, БЦ «ГАЛЕРЕЯ 76» 2 этаж
                    </p>
                    <p class="footer__schedule">
                        <a href="tel:+74957926669" class="footer__phone-number">
                            +7 (495) 792-66-69
                        </a>
                        <p class="">пн-пт 10:00–19:00</p>
                    </p>
                </div>
                <div class="footer__socials">
                    <a href="" class="footer__social">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_362_69)">
                                <path d="M17.5 35C27.165 35 35 27.165 35 17.5C35 7.83502 27.165 0 17.5 0C7.83502 0 0 7.83502 0 17.5C0 27.165 7.83502 35 17.5 35Z" fill="white"/>
                                <path d="M8.0076 17.1204L24.8805 10.6148C25.6636 10.3319 26.3476 10.8058 26.0939 11.99L26.0953 11.9885L23.2224 25.5233C23.0095 26.4829 22.4393 26.7162 21.6416 26.2642L17.2666 23.0398L15.1564 25.0727C14.923 25.306 14.7261 25.5029 14.2741 25.5029L14.5847 21.0506L22.693 13.7254C23.0459 13.4148 22.6143 13.2398 22.1491 13.5489L12.1289 19.8577L7.80927 18.5102C6.87156 18.2127 6.85114 17.5725 8.0076 17.1204Z" fill="#2A2367"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_362_69">
                                    <rect width="35" height="35" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="" class="footer__social">
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_362_72)">
                                <path d="M17.5044 0H17.4956C7.84656 0 0 7.84875 0 17.5C0 21.3281 1.23375 24.8762 3.33156 27.7572L1.15062 34.2584L7.87719 32.1081C10.6444 33.9412 13.9453 35 17.5044 35C27.1534 35 35 27.1491 35 17.5C35 7.85094 27.1534 0 17.5044 0Z" fill="white"/>
                                <path d="M27.6872 24.712C27.265 25.9042 25.5894 26.893 24.2528 27.1817C23.3385 27.3764 22.1441 27.5317 18.1235 25.8648C12.9806 23.7342 9.66877 18.5083 9.41065 18.1692C9.16346 17.8302 7.33252 15.402 7.33252 12.8908C7.33252 10.3795 8.60783 9.15672 9.1219 8.63172C9.54408 8.20078 10.2419 8.00391 10.9113 8.00391C11.1278 8.00391 11.3225 8.01484 11.4975 8.02359C12.0116 8.04547 12.2697 8.07609 12.6088 8.88766C13.031 9.90484 14.0591 12.4161 14.1816 12.6742C14.3063 12.9323 14.431 13.2823 14.256 13.6214C14.0919 13.9714 13.9475 14.1267 13.6894 14.4242C13.4313 14.7217 13.1863 14.9492 12.9281 15.2686C12.6919 15.5464 12.425 15.8439 12.7225 16.358C13.02 16.8611 14.0481 18.5389 15.5619 19.8864C17.5153 21.6255 19.0991 22.1811 19.6656 22.4173C20.0878 22.5923 20.591 22.5508 20.8994 22.2227C21.291 21.8005 21.7744 21.1005 22.2666 20.4114C22.6166 19.917 23.0585 19.8558 23.5222 20.0308C23.9947 20.1948 26.495 21.4308 27.0091 21.6867C27.5231 21.9448 27.8622 22.0673 27.9869 22.2839C28.1094 22.5005 28.1094 23.5176 27.6872 24.712Z" fill="#2A2367"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_362_72">
                                    <rect width="35" height="35" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                    </a>
                </div>
            </div>

            <div class="footer__company">
                <a href="#" class="footer__logo">
                    <svg width="157" height="55" viewBox="0 0 157 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.144 35.9992L15.12 27.0952L10.8 34.3432H8.688L4.368 27.2872V35.9992H0V19.1992H3.912L9.816 28.8952L15.576 19.1992H19.488L19.536 35.9992H15.144Z" fill="white"/>
                        <path d="M81.368 32.3272V35.9992H67.88V19.1992H81.056V22.8712H72.584V25.7032H80.048V29.2552H72.584V32.3272H81.368Z" fill="white"/>
                        <path d="M101.669 19.1992V35.9992H97.757L90.341 27.0472V35.9992H85.685V19.1992H89.597L97.013 28.1512V19.1992H101.669Z" fill="white"/>
                        <path d="M106.701 19.1992H111.453V35.9992H106.701V19.1992Z" fill="white"/>
                        <path d="M124.266 36.3352C121.77 36.3352 119.826 35.6552 118.434 34.2952C117.058 32.9352 116.37 31.0072 116.37 28.5112V19.1992H121.122V28.3672C121.122 31.0552 122.186 32.3992 124.314 32.3992C126.426 32.3992 127.482 31.0552 127.482 28.3672V19.1992H132.162V28.5112C132.162 31.0072 131.466 32.9352 130.074 34.2952C128.698 35.6552 126.762 36.3352 124.266 36.3352Z" fill="white"/>
                        <path d="M152.229 35.9992L152.181 27.0952L147.861 34.3432H145.749L141.453 27.3352V35.9992H137.061V19.1992H140.973L146.877 28.8952L152.637 19.1992H156.549L156.597 35.9992H152.229Z" fill="white"/>
                        <rect x="26.2" y="19" width="7" height="17" fill="#6B5AF9"/>
                        <rect x="40.2" y="7" width="7" height="41" fill="#6B5AF9"/>
                        <rect x="54.2" width="7" height="55" fill="#6B5AF9"/>
                    </svg>

                </a>
                <p class="footer__rights">© 2018–2021 | Millenium - создание интернет-магазинов на 1С Битрикс</p>
                <a href="" class="footer__privacy-policy">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>