<header class="header">
    <div class="content-outer">
        <div class="hero__bg-wrapper">
            <div class="hero__bg-inner">
                <img src="img/hero-bg.png" alt="" class="hero__img-bg">
            </div>
        </div>
    <div class="content">
        <nav class="nav">
            <div class="hamburger-wrapper align-center">
                <div class="hamburger ">
                    <span class="hamburger__bar"></span>
                    <span class="hamburger__bar"></span>
                    <span class="hamburger__bar"></span>
                </div>
            </div>
            <a href="#" class="nav__logo align-center">
                <svg width="182" height="55" viewBox="0 0 182 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.944 36L16.92 27.096L12.6 34.344H10.488L6.168 27.288V36H1.8V19.2H5.712L11.616 28.896L17.376 19.2H21.288L21.336 36H16.944Z" fill="#2A2367"/>
                    <path d="M83.168 32.328V36H69.68V19.2H82.856V22.872H74.384V25.704H81.848V29.256H74.384V32.328H83.168ZM103.469 19.2V36H99.557L92.141 27.048V36H87.485V19.2H91.397L98.813 28.152V19.2H103.469ZM124.485 19.2V36H120.573L113.157 27.048V36H108.501V19.2H112.413L119.829 28.152V19.2H124.485ZM129.517 19.2H134.269V36H129.517V19.2ZM147.082 36.336C144.586 36.336 142.642 35.656 141.25 34.296C139.874 32.936 139.186 31.008 139.186 28.512V19.2H143.938V28.368C143.938 31.056 145.002 32.4 147.13 32.4C149.242 32.4 150.298 31.056 150.298 28.368V19.2H154.978V28.512C154.978 31.008 154.282 32.936 152.89 34.296C151.514 35.656 149.578 36.336 147.082 36.336ZM175.045 36L174.997 27.096L170.677 34.344H168.565L164.269 27.336V36H159.877V19.2H163.789L169.693 28.896L175.453 19.2H179.365L179.413 36H175.045Z" fill="#2A2367"/>
                    <rect x="28" y="19" width="7" height="17" fill="#6B5AF9"/>
                    <rect x="42" y="7" width="7" height="41" fill="#6B5AF9"/>
                    <rect x="56" width="7" height="55" fill="#6B5AF9"/>
                </svg>
            </a>
            <div class="nav__menu">
                <span class="nav__close">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.3778 16.3773C20.2074 17.2073 20.2074 18.5483 19.3778 19.3783C18.964 19.7921 18.4207 20 17.8771 20C17.3339 20 16.7907 19.7921 16.3769 19.3783L10 13.0009L3.62314 19.3783C3.20931 19.7921 2.66609 20 2.12287 20C1.57925 20 1.03603 19.7921 0.622201 19.3783C-0.2074 18.5483 -0.2074 17.2073 0.622201 16.3773L6.99945 10.0002L0.622201 3.62323C-0.2074 2.79322 -0.2074 1.45223 0.622201 0.622216C1.45219 -0.207405 2.79315 -0.207405 3.62314 0.622216L10 6.99962L16.3769 0.622216C17.2068 -0.207405 18.5478 -0.207405 19.3778 0.622216C20.2074 1.45223 20.2074 2.79322 19.3778 3.62323L13.0006 10.0002L19.3778 16.3773Z" fill="#2A2367"/>
                    </svg>
                </span>
                <ul class="nav__menu-list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Цены</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Кейсы и отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Контакты</a>
                    </li>
                </ul>
                <div class="nav__menu-md-content">
                    <p class="nav__email">
                        <a href="mailto:info@millenium.ru" class="nav__contacts-link nav__txt-purple">
                            info@millenium.ru</a>
                    </p>
                    <p class="nav__schedule-md">
                        <a href="tel:+74957926669" class="nav__contacts-link nav__txt-purple">+7 (495) 792-66-69</a>
                        <span class="nav__txt-purple">пн-пт 10:00–19:00</span>
                    </p>
                </div>
            </div>
            <div class="nav__right-content align-center">
                <div class="nav__socials">
                    <a href="#" class="nav__social">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_184_19)">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#707070"/>
                                <path d="M4.1182 8.805L12.7957 5.45925C13.1985 5.31375 13.5502 5.5575 13.4197 6.1665L13.4205 6.16575L11.943 13.1265C11.8335 13.62 11.5402 13.74 11.13 13.5075L8.87995 11.8493L7.7947 12.8948C7.6747 13.0148 7.57345 13.116 7.34095 13.116L7.5007 10.8263L11.6707 7.059C11.8522 6.89925 11.6302 6.80925 11.391 6.96825L6.2377 10.2128L4.0162 9.51975C3.53395 9.36675 3.52345 9.0375 4.1182 8.805Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_184_19">
                                    <rect width="18" height="18" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                    </a>
                    <a href="#" class="nav__social">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_184_22)">
                                <path d="M9.00225 0H8.99775C4.03538 0 0 4.0365 0 9C0 10.9688 0.6345 12.7935 1.71337 14.2751L0.59175 17.6186L4.05113 16.5128C5.47425 17.4555 7.17188 18 9.00225 18C13.9646 18 18 13.9624 18 9C18 4.03763 13.9646 0 9.00225 0Z" fill="#707070"/>
                                <path d="M14.2391 12.7091C14.022 13.3222 13.1602 13.8307 12.4729 13.9792C12.0026 14.0794 11.3884 14.1592 9.32062 13.302C6.67575 12.2062 4.9725 9.51861 4.83975 9.34424C4.71262 9.16986 3.771 7.92111 3.771 6.62961C3.771 5.33811 4.42687 4.70924 4.69125 4.43924C4.90837 4.21761 5.26725 4.11636 5.6115 4.11636C5.72287 4.11636 5.823 4.12199 5.913 4.12649C6.17737 4.13774 6.31012 4.15349 6.4845 4.57086C6.70162 5.09399 7.23037 6.38549 7.29337 6.51824C7.3575 6.65099 7.42162 6.83099 7.33162 7.00536C7.24725 7.18536 7.173 7.26524 7.04025 7.41824C6.9075 7.57124 6.7815 7.68824 6.64875 7.85249C6.52725 7.99536 6.39 8.14836 6.543 8.41274C6.696 8.67149 7.22475 9.53436 8.00325 10.2274C9.00787 11.1217 9.82237 11.4075 10.1137 11.529C10.3309 11.619 10.5896 11.5976 10.7482 11.4289C10.9496 11.2117 11.1982 10.8517 11.4514 10.4974C11.6314 10.2431 11.8586 10.2116 12.0971 10.3016C12.3401 10.386 13.626 11.0216 13.8904 11.1532C14.1547 11.286 14.3291 11.349 14.3932 11.4604C14.4562 11.5717 14.4562 12.0949 14.2391 12.7091Z" fill="#FAFAFA"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_184_22">
                                    <rect width="18" height="18" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
                <div class="nav__contacts">
                    <a class="nav__phone" href="tel:+74955556565">+ 7 (495) 555 65 65</a>
                    <p class="nav__schedule">Ежедневно с 09:00 до 18:00</p>
                </div>
                <div class="modal align-center">
                    <button class="nav__back-call-btn modal__btn ">
                        <span class="nav__back-call-txt">Заказать звонок</span>
                        <span class="nav__back-call-svg">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_439_596)">
                            <path d="M19.7881 15.0058L16.9941 12.2118C15.9963 11.214 14.2999 11.6131 13.9008 12.9103C13.6014 13.8084 12.6036 14.3073 11.7055 14.1077C9.70985 13.6088 7.01567 11.0144 6.51675 8.91892C6.21739 8.02082 6.8161 7.02297 7.71416 6.72366C9.01136 6.32452 9.4105 4.62818 8.41265 3.63034L5.61869 0.836369C4.82041 0.137877 3.62299 0.137877 2.9245 0.836369L1.0286 2.73228C-0.86731 4.72797 1.22817 10.0165 5.91804 14.7064C10.6079 19.3963 15.8965 21.5916 17.8922 19.5959L19.7881 17.7C20.4866 16.9017 20.4866 15.7043 19.7881 15.0058Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_439_596">
                            <rect width="20.0208" height="20.0208" fill="white" transform="translate(0.3125 0.3125)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span>
                    </button>
                    <div class="modal__window">
                        <div class="modal__content">
                            <span class="modal__close">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12.1751 10.2896C12.6964 10.8111 12.6964 11.6536 12.1751 12.1751C11.9151 12.4351 11.5738 12.5657 11.2322 12.5657C10.8909 12.5657 10.5496 12.4351 10.2896 12.1751L6.28302 8.16827L2.27643 12.1751C2.01642 12.4351 1.67511 12.5657 1.3338 12.5657C0.992249 12.5657 0.65094 12.4351 0.39093 12.1751C-0.13031 11.6536 -0.13031 10.8111 0.39093 10.2896L4.39777 6.28302L0.39093 2.27643C-0.13031 1.75494 -0.13031 0.912414 0.39093 0.39093C0.912415 -0.13031 1.75494 -0.13031 2.27643 0.39093L6.28302 4.39776L10.2896 0.39093C10.8111 -0.13031 11.6536 -0.13031 12.1751 0.39093C12.6964 0.912414 12.6964 1.75494 12.1751 2.27643L8.16827 6.28302L12.1751 10.2896Z" fill="#363636"/>
                                    </svg>
                                </span>
                            <div class="modal__content-inner">
                                <p class="modal__title">Заявка на консультацию</p>
                                <form action="" class="modal__form">
                                    <label class="modal__label">Ваше имя
                                    <input type="text" name="" class="modal__input"
                                           placeholder="Введите ваше имя">
                                    </label>

                                    <label class="modal__label">Номер телефона
                                    <input type="text" name="" class="modal__input modal__input--phone"
                                           placeholder="+ 7 (999) 999 99 99">
                                    </label>

                                    <button type="submit" class="modal__submit-btn">Отправить</button>
                                </form>
                                <p class="modal__txt">Нажимая на кнопку «Отправить заявку», я даю согласие на обработку
                                    персональных данных и соглашаюсь c политикой конфиденциальности</p>
                                <div class="modal__img-wrapper">
                                    <span class="modal__svg-wrapper">
                                        <span class="modal__svg-inner">
                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_488_493)">
                                            <path d="M2.45573 4.512V3.424C2.45573 2.55834 2.79962 1.72813 3.41173 1.11601C4.02385 0.503888 4.85406 0.160004 5.71973 0.160004C6.5854 0.160004 7.41561 0.503888 8.02773 1.11601C8.63984 1.72813 8.98373 2.55834 8.98373 3.424V4.512H9.52773C9.81628 4.512 10.093 4.62663 10.2971 4.83067C10.5011 5.03471 10.6157 5.31145 10.6157 5.6V9.952C10.6157 10.2406 10.5011 10.5173 10.2971 10.7213C10.093 10.9254 9.81628 11.04 9.52773 11.04H1.91173C1.62317 11.04 1.34644 10.9254 1.1424 10.7213C0.938359 10.5173 0.82373 10.2406 0.82373 9.952V5.6C0.82373 5.0016 1.31333 4.512 1.91173 4.512H2.45573ZM5.17573 8.17312V9.408H6.26373V8.17312C6.47115 8.05337 6.63326 7.86852 6.72491 7.64725C6.81657 7.42597 6.83265 7.18064 6.77066 6.94929C6.70867 6.71795 6.57207 6.51352 6.38206 6.36772C6.19205 6.22192 5.95924 6.14289 5.71973 6.14289C5.48022 6.14289 5.24741 6.22192 5.0574 6.36772C4.86738 6.51352 4.73079 6.71795 4.6688 6.94929C4.60681 7.18064 4.62289 7.42597 4.71455 7.64725C4.8062 7.86852 4.96831 8.05337 5.17573 8.17312ZM4.08773 3.424V4.512H7.35173V3.424C7.35173 2.99117 7.17979 2.57607 6.87373 2.27001C6.56767 1.96395 6.15256 1.792 5.71973 1.792C5.2869 1.792 4.87179 1.96395 4.56573 2.27001C4.25967 2.57607 4.08773 2.99117 4.08773 3.424Z" fill="white"/>
                                            </g>
                                            <defs>
                                            <clipPath id="clip0_488_493">
                                            <rect width="10.88" height="10.88" fill="white" transform="translate(0.279785 0.160004)"/>
                                            </clipPath>
                                            </defs>
                                        </svg>
                                        </span>
                                    </span>
                                    <img src="img/modal-book.png" alt="Books" class="modal__img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero">
            <div class="hero__row">
                <div class="hero__l-content">
                    <div class="hero__header">
                        <h2 class="hero__title">Разработка интернет-магазинов
                            <span class="txt-purple">на 1C-Битрикс</span>
                        </h2>
                        <p class="hero__info">
                            Разработаем интернет-магазин за 30 дней с уникальным дизайном и продуманной структурой который
                            <span class="txt-purple">выделит вас на фоне конкурентов</span>
                        </p>
                    </div>
                    <div class="hero__body">
                        <a href="" class="hero__btn">Узнать стоимость</a>
                        <p class="hero__desc">
                    <span class="txt-purple">Оставьте заявку и получите бесплатную консультацию от
                        специалиста, полный расчет стоимости
                            разработки и бонус:</span><br/>«15 сервисов, которые покажут стратегию продвижения конкурентов, всё об их
                            выдаче в поиске и не только»
                        </p>
                    </div>
                </div>
                <div class="hero__arrow-bottom" data-animate="animArrow 2s">
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.6164 2.0969L22.8302 1.30528C22.5828 1.05806 22.2536 0.921866 21.9018 0.921866C21.5502 0.921866 21.2207 1.05806 20.9732 1.30528L12.0054 10.2736L3.02715 1.29533C2.78012 1.04811 2.45056 0.912109 2.09894 0.912109C1.74733 0.912109 1.41757 1.04811 1.17035 1.29533L0.384003 2.08207C-0.128001 2.59368 -0.128001 3.42706 0.384003 3.93867L11.0737 14.6668C11.3207 14.9138 11.6499 15.0878 12.0046 15.0878H12.0087C12.3605 15.0878 12.6897 14.9136 12.9367 14.6668L23.6164 3.96774C23.8638 3.72072 23.9996 3.38159 24 3.02998C24 2.67817 23.8638 2.34373 23.6164 2.0969Z" fill="#6B5AF9"/>
                    </svg>
                </div>
            </div>
        </section>
    </div>
    </div>
</header>