<section class="research">
  <div class="content-outer">
    <div class="content">

      <div class="research__row">

          <div class="research__txt">
            <h2 class="research__title title-animation">Исследуем <span class="txt-purple">бизнес</span></h2>
            <p class="research__paragraph">
              Каждый клиент – своя история. Мы не берем шаблонные решения, а исследуем рынок конкретно под ваши цели и
              задачи.
            </p>
            <p class="research__paragraph">
              Сделать интернет-магазин с нуля непросто. Нужен сайт с качественной разработкой дизайна, который не будет
              отвлекать от сути, наполнением и рабочими модулями. Кроме этого, для успешного запуска электронной торговой
              площадки владельцу бизнеса требуется найти поставщиков, выбрать товарные позиции, просчитать рентабельность,
              уладить другие организационные вопросы вне сети.
            </p>
            <p class="research__paragraph">
              Создание интернет-магазина лучше делегировать на профессионалов. Мы возьмем на себя вопросы по разработке
              интернет-магазина под ключ. Специалисты компании предоставляют заказчику готовый продающий сайт. Он уже
              наполнен контентом, ориентирован на конечного потребителя и интуитивно понятен для заказчика.
            </p>
          </div>
            <div class="research__img-wrapper">
              <img src="img/research.png" alt="Business" class="research__img">
            </div>
      </div>
    </div>
  </div>
</section>