<section class="steps">
    <div class="content">
        <div class="steps__row">
            <h2 class="steps__title">Этапы</h2>
            <div class="steps__content">
                <div class="steps__nav">
                    <div class="steps__v-line"></div>
                    <button class="steps__nav-btn active">
                        <span class="steps__btn-bullet steps__btn-bullet--first"></span>
                        <span class="steps__btn-txt">01. Маркетинговый анализ бизнеса</span>
                    </button>

                    <button class="steps__nav-btn">
                        <span class="steps__btn-bullet "></span>
                        <span class="steps__btn-txt">02. Привлекательный дизайн</span>
                    </button>

                    <button class="steps__nav-btn">
                        <span class="steps__btn-bullet "></span>
                        <span class="steps__btn-txt">03. Профессиональная верстка</span>
                    </button>

                    <button class="steps__nav-btn">
                        <span class="steps__btn-bullet "></span>
                        <span class="steps__btn-txt">04. «Посадка» на CMS</span>
                    </button>

                    <button class="steps__nav-btn">
                        <span class="steps__btn-bullet "></span>
                        <span class="steps__btn-txt">05. Тестирование и доработка</span>
                    </button>

                    <button class="steps__nav-btn">
                        <span class="steps__btn-bullet steps__btn-bullet--last"></span>
                        <span class="steps__btn-txt">06. Запуск сайта</span>
                    </button>
                </div>
                <div class="steps__cards">
                    <div class="steps__card" data-id="0">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                1
                            </p>
                            <h3 class="steps__c-title">Маркетинговый анализ бизнеса</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    На предварительном этапе мы выясняем специфику вашего бизнеса, товаров. Отмечаем
                                    ваши преимущества и уникальные предложения, изучаем ожидания и потребности целевой
                                    аудитории, рассматриваем ближайшее конкурентное окружение.
                                </p>
                                <p class="steps__c-paragraph">
                                    На основании полученных данных мы разрабатываем прототип интернет-магазина, пишем
                                    техническое ТЗ для специалистов, готовим рекомендации по текстовому наполнению с
                                    учетом требований SEO, разрабатываем план по внешней и внутренней оптимизации сайта.
                                    Также мы создаем набор готовых элементов для пользовательского интерфейса.
                                </p>
                            </div>
                            <div class="steps__c-img-wrapper">
                                <img src="img/step-1.jpg" alt="Site template" class="steps__c-img">
                            </div>
                        </div>
                    </div>
                    <div class="steps__card" data-id="1">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                2
                            </p>
                            <h3 class="steps__c-title">Привлекательный дизайн</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    Интерфейс сайта будет соответствовать современным требованиям и отвечать ожиданиям
                                    целевой аудитории. Опытные специалисты Millenium создадут UX-дизайн, отталкиваясь от
                                    данных анализа пользовательского поведения, что позволит в несколько раз увеличить
                                    конверсию.
                                </p>
                                <p class="steps__c-paragraph">
                                    Мы подберем оптимальные цветовые сочетания (основной, дополнительные, акцентные
                                    цвета), уделим внимание четкости графики, наглядности интерфейса, понятной и
                                    лаконичной визуализации.
                                </p>
                            </div>
                            <div class="steps__c-img-wrapper">
                                <img src="img/step-2.jpg" alt="Site example" class="steps__c-img">
                            </div>
                        </div>
                    </div>
                    <div class="steps__card" data-id="2">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                3
                            </p>
                            <h3 class="steps__c-title">Профессиональная верстка</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    Мы производим верстку по стандарту Pixel Perfect, который предполагает точное
                                    соответствие сверстанных страниц дизайн-макету. Наши специалисты напишут чистый код
                                    с двухфакторной проверкой, позволяющий обеспечить высокую скорость загрузки на любых
                                    браузерах и электронных устройствах (десктопных и мобильных).
                                </p>
                                <p class="steps__c-paragraph">
                                    Профессиональная адаптивная верстка является важным условием бесперебойной надежной
                                    работы сайта на протяжении длительного времени.
                                </p>
                            </div>
                            <div class="steps__c-img-wrapper">
                                <img src="img/step-3.jpg" alt="HTML code" class="steps__c-img">
                            </div>
                        </div>
                    </div>
                    <div class="steps__card" data-id="3">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                4
                            </p>
                            <h3 class="steps__c-title">«Посадка» на CMS</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    Невозможно представить интернет-магазин без системы управления сайтом. Специалисты
                                    Millenium выполнят посадку готовой верстки вашего магазина на CMS №1 в странах СНГ -
                                    1с Битрикс. Благодаря CMS, вы просто заходите в административную панель, и, при
                                    помощи понятных полей, легко управляете содержимым — редактируете новости, вносите
                                    коррективы в товары, добавляет фото и видеоконтент, модерируете и выполняете
                                    множество других действий, которые без CMS были бы сущим кошмаром.
                                </p>
                                <p class="steps__c-paragraph">
                                    Благодаря CMS, вы просто заходите в административную панель, и, при помощи понятных
                                    полей, легко управляете содержимым — редактируете новости, вносите коррективы в
                                    товары, добавляет фото и видеоконтент, модерируете и выполняете множество других
                                    действий, которые без CMS были бы сущим кошмаром.
                                </p>
                            </div>
                            <div class="steps__c-img-wrapper">
                                <img src="img/step-4.jpg" alt="HTML code" class="steps__c-img">
                            </div>
                        </div>
                    </div>
                    <div class="steps__card" data-id="4">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                5
                            </p>
                            <h3 class="steps__c-title">Тестирование и доработка</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    Чтобы избежать проблем во время использования сайта, на данном этапе мы отрабатываем
                                    все возможные сценарии взаимодействия пользователей с сайтом. Это позволяет вовремя
                                    выявить ошибки и устранить их. Мы тестируем usability и безопасность сайта,
                                    проверяем скорость загрузки страниц, работу форм обратной связи и интерактивных
                                    элементов, отображение страниц на разных устройствах. Это позволяет на 100%
                                    гарантировать функциональность ресурса.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="steps__card" data-id="5">
                        <div class="steps__c-header">
                            <p class="steps__c-number">
                                6
                            </p>
                            <h3 class="steps__c-title">Запуск сайта</h3>
                        </div>
                        <div class="steps__c-body">
                            <div class="steps__c-txt">
                                <p class="steps__c-paragraph">
                                    Когда все проверено и выполнены все нужные доработки, остается лишь выполнить
                                    грамотный запуск сайта. Наши специалисты сверяют всё по чек-листу, чтобы избежать
                                    неприятностей и получить на выходе идеальный интернет-магазин с высокой конверсией.
                                    Сайт от профессионалов Millenium позволит вам легко привлекать новых клиентов и
                                    станет достойным лицом вашей компании в интернете.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>