.btn-glob{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $secondaryColor;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  transition: .3s ease-in-out;
  color: #FFFFFF;
  cursor: pointer;

  &:hover{
    background-color: #7A6AFF;
  }
  &:active{
    box-shadow: inset 0 0 90px 6px rgba(0,0,0,0.6);
  }
}
.nav__back-call-btn{
  @extend .btn-glob;
  width: 180px;
  height: 60px;
  margin-left: 20px;

  @include breakpoint(md){
    width: 62px;
    height: 38px;
    margin-left: auto;

    &:active{
      box-shadow: inset 0 0 40px 6px rgba(0,0,0,0.6);
    }
  }

  @include breakpoint(xs38){
    width: 52px;
    height: 32px;
  }

  .nav__back-call-svg{
    display: none;
    @include breakpoint(md){
      display: flex;

      svg{
        width: 17px;
        height: 17px;
      }
    }
  }
  .nav__back-call-txt{
    @include breakpoint(md){
      display: none;
    }
  }
}

.modal__submit-btn{
  @extend .btn-glob;
  width: 100%;
  height: 60px;
}
.footer__modal-btn{
  @extend .btn-glob;
  display: inline-block;
  width: 340px;
  height: 60px;
  @include breakpoint(lg){
    width: 100%;
  }
  @include breakpoint(sm){
    max-width: 275px;
  }
  @include breakpoint(xs38){
    max-width: 100%;
  }
}

.hero__btn{
  @extend .btn-glob;
  opacity: 0;
  width: 275px;
  height: 60px;
  transform:translateY(-80px);
  transition: background-color .3s ease-in-out,
    color .3s ease-in-out,
    box-shadow .3s ease-in-out,
    opacity .5s ease-in,
    transform .5s ease-in;

  @include breakpoint(md){
    transform: translateY(-60px);
  }
  @include breakpoint(sm){
    margin: 0 auto;
  }
}
.advantages__btn{
  @extend .btn-glob;
  width: 275px;
  opacity: 0;
  height: 60px;
  margin: 50px auto 0;
  transition: opacity .4s ease-in,
    background-color .3s ease-in-out,
    box-shadow .3s ease-in-out;
}
.benefits__btn{
  @extend .advantages__btn;
  margin-top: 100px;
  @include breakpoint(md){
    margin-top: 85px;
  }
  @include breakpoint(sm){
    margin-top: 50px;
  }
}

.callback__btn{
  @extend .btn-glob;
  background: #FFFFFF;
  margin: 30px auto 25px;
  color:$secondaryColor;
  height: 60px;
  width: 100%;

  @include breakpoint(xs38){
    margin: 50px auto 35px;
  }
  @include breakpoint(xs35){
    margin: 25px auto;
  }

  &:hover{
    background-color: #a69cfb;
    color: #fff;
  }

  &[disabled]{
    cursor: unset;
    opacity: .4;

    &:hover{
      background-color:#FFFFFF;
      color:$secondaryColor;
    }
    &:active{
      box-shadow: unset;
    }
  }
}