.modal__input{
  width: 100%;
  margin-top: 3px;
  padding: 10px 0;
  border-bottom: 2px solid #9895B4;
  color:$secondaryColor;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  transition: .2s ease-in-out;

  &:focus{
    border-bottom: 2px solid $secondaryColor;
  }

  &::placeholder{
    color: #9895B4;

  }
}

.callback__input{
  @extend .modal__input;
  background: $secondaryColor;
  color:#fff;
  padding: 0 0 6px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-top: unset;
  border-bottom: 2px solid #a69cfb;
  @include breakpoint(md){
    padding: 0 0 8px;
    @include fluid-type(380px, 768px, 12px, 18px);
  }
  @include breakpoint(xs38){
    line-height: 15px;
  }

  &::placeholder{
    color: #a69cfb;
  }
  &:focus{
    border-bottom: 2px solid #fff;
  }
}
.callback__f-name{
  margin-bottom: 31px;

  @include breakpoint(xs38){
    margin-bottom: 39px;
  }
}