.advantages {

  overflow-x: hidden;
  padding-bottom: 150px;
  @include breakpoint(md){
    padding: 0 10px 100px;
  }

  &__row {

  }

  &__title {
    margin-bottom: 50px;
    @include breakpoint(md){
      margin-bottom: 30px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 20px;
    row-gap: 54px;
    @include breakpoint(md){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 40px;
    }
    @include breakpoint(sm){
      grid-template-columns: 1fr;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 2px 15px 24px;
    transform:translateY(80px);
    opacity: 0;
    transition: background-color .3s ease-in-out,
      transform .4s ease-in,
      opacity .4s ease-in;
    @include breakpoint(sm){
      max-width: 340px;
      margin: 0 auto;
      &:nth-child(even){
        transform:translateX(60px);
      }
      &:nth-child(odd){
        transform: translateX(-60px);
      }
    }

    &:hover{
      background-color: #E37575;
      .advantages__card-delimiter{
        background-color: #fff;
      }
      .advantages__card-title{
        color:#fff;
      }
      .advantages__card-desc{
        color: #fff;
      }
    }
  }

  &__card-number {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 1px;
  }

  &__card-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    color: $mainColor;
    transition: .3s ease-in-out;
  }

  &__card-delimiter {
    width: 175px;
    //color:#E37575;
    background-color: #E37575;
    height: 2px;
    display: block;
    transition: .3s ease-in-out;
  }

  &__card-desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $mainColor;
    transition: .3s ease-in-out;

  }

  &__btn {
  }
}