.benefits {
  overflow-x: hidden;
  padding-bottom: 150px;

  @include breakpoint(md){
    padding:0 10px 100px;
  }
  &__row {
  }

  &__title {
    margin-bottom: 60px;
    @include breakpoint(md){
      margin-bottom: 37px;
    }
    @include breakpoint(sm){
      margin-bottom: 0;
    }
  }

  &__cards {

    @include breakpoint(md){
      display: flex;
      flex-direction: column;
      row-gap: 60px;
    }
    @include breakpoint(sm){
      row-gap: 30px;

    }
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd){
      .benefits__img-wrapper{
        transform: translateX(-100px);

      }
      .benefits__card-desc{
        transform: translateX(100px);
      }
    }
    &:nth-child(even){
      .benefits__img-wrapper{
        transform: translateX(100px);

      }
      .benefits__card-desc{
        transform: translateX(-100px);
      }
    }
    @include breakpoint(sm){
      row-gap: 25px;
      flex-direction: column;
      align-items: center;
      //display: inline-bl  ock;
      margin: 0 auto;
    }
  }

  &__img-wrapper {
    opacity: 0;
    transition: opacity .5s ease-in, transform .5s ease-in;
    @include breakpoint(sm){
      margin: 0 auto;
    }
  }

  &__img {
  }

  &__card-desc {
    opacity: 0;
    transition: opacity .5s ease-in, transform .5s ease-in;
    @include breakpoint(sm){
      width: 100%;
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $secondaryColor;
    margin-bottom: 17px;

  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    //list-style-type: disc;
    @include breakpoint(md){
      row-gap: 8px;
    }
  }

  &__item {
    display: flex;

  }
  &__item-txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:$mainColor;
    @include fluid-type(768px, $maxWidth, 12px, 14px);
    @include breakpoint(md){
      line-height: 15px;
    }
  }
  &__item-marker{
    line-height: 17px;
    @include breakpoint(md){
      line-height: 15px;
    }
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      margin-right: 8px;
      padding-inline-start: 9px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $mainColor;
    }
  }

  &__card--reverse {

    flex-direction: row-reverse;

    @include breakpoint(sm){
      flex-direction: column;
    }
  }

  &__btn {
  }
}