.callback {
  overflow-x: hidden;
  padding:150px 0 270px;
  @include breakpoint(md){
    padding: 100px 10px 250px;
  }
  &__img-box-wrapper{
    bottom: -70px;
    right: -11px;
    opacity: 0;
    transform: translate(150px, 0);
    transition: opacity .5s ease-in, transform .5s ease-in;
    @include breakpoint(lg){
      transform: translate(0, 0);
      max-width: 119px;
      right: 45px;
      bottom: 19px;
    }
    @include breakpoint(sm){
      max-width: 91px;
      right: -10px;
      bottom: 9%;
    }
  }
  &__img-circle-wrapper{
    z-index: 1;
   bottom: 150px;
    left: 44%;
    opacity: 0;
    transform:translate(0, 100px);
    transition: opacity .5s ease-in, transform .5s ease-in;

    @include breakpoint(lg){
      left: 52px;
      bottom: 21%;
    }
    @include breakpoint(md){
      max-width: 42px;
    }
    @include breakpoint(sm){
      left: 20px;
      bottom: 26%;
    }
  }
  .callback__img-hand-wrapper{
    opacity: 0;
    transform: translate(-120px, 0);
    transition: opacity .5s ease-in, transform .5s ease-in;
    bottom:32px;
    left: 0;
    @include breakpoint(lg){
      max-width: 335px;
      //left:;
    }
    @include breakpoint(sm){
      max-width: 221px;
      bottom: 26px;
    }
  }
  .callback__img-sticker-wrapper{
    top: -71px;
    left: 30%;
    @include breakpoint(md){
      left: 53px;
    }
    @include breakpoint(sm){
      max-width: 119px;
      top: -62px;
      left: -10px;
    }
  }
  .callback__img-stick-wrapper{
    right: -38px;
    top: 32%;
    opacity: 0;
    transform:translate(0, -150px);
    transition: opacity .5s ease-in, transform .5s ease-in;

    @include breakpoint(lg){
      top: 38%;
      right: -22px;
    }
    @include breakpoint(sm){
      max-width: 102px;
      top: -38px;
      right: -33px;
    }
  }
  &__row {
    position: relative;
    display: flex;
    background: #F4F8FF;
    border-radius: 20px;
    padding: 65px 100px 190px;
    column-gap: 44px;
    @include breakpoint(xl){
      padding: 65px calc(100vw / 14.4) calc(100vw / 7.58);
    }
    @include breakpoint(lg){
      flex-direction: column;
      row-gap: 60px;
      padding: 68px 0 220px;
    }
    @include breakpoint(md){

    }
    @include breakpoint(sm){
      padding: 40px 15px 150px;
    }
  }
  &__title{
    margin-bottom: 20px;
    max-width: 210px;
    @include breakpoint(lg){
      max-width: unset;
      text-align: center;
    }
    @include breakpoint(md){


      margin-bottom: 30px;
    }
  }
  &__txt-wrapper{
    @include breakpoint(lg){
      padding: 0 calc(100vw / 15.5);
      margin: 0 auto;
    }
    @include breakpoint(md){
      max-width: 620px;
    }
    @include breakpoint(sm){
      padding: 0 15px;
    }
  }
  &__txt {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    @include breakpoint(md){
      row-gap: 20px;
    }
  }
  &__paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $mainColor;
    @include breakpoint(lg){
      text-align: center;
    }
    @include fluid-type(768px, $maxWidth, 14px, 18px);
    @include breakpoint(md){

      line-height: 17px;
      @include fluid-type(380px, 768px, 12px, 14px);
    }
    @include breakpoint(xs38){
      line-height: 15px;
    }
  }


  &__form {
    padding: 56px 56px 46px;
    background: #6B5AF9;
    border-radius: 20px;
    min-width: 472px;
    width: 100%;
    height: fit-content;

    @include breakpoint(lg){
      min-width: unset;
      max-width: 472px;
      margin: 0 auto;
    }
    @include breakpoint(sm){
      padding: 37px 22px 46px;
      //margin: 0 15px;
    }
  }
  &__phone{
    color:#fff;
    transition: .3s ease-in-out;
    display: inline-block;
    &:visited{
      color:#fff;
    }
    &:hover{
      color: #a69cfb;
    }
  }
  &__form-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 28px;
    @include breakpoint(md){

      @include fluid-type(380px, 768px, 18px, 24px);
    }
    @include breakpoint(xs38){
      margin-bottom: 21px;
      line-height: 22px;
    }
  }

  &__form-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 46px;
    @include breakpoint(xs38){
      margin-bottom: 35px;
    }
  }

  &__f-name {
  }

  &__input {
  }

  &__f-phone-number {
  }

  &__checkbox-wrapper {
/*    display: flex;
    column-gap: 13px;
    align-items: start;*/
  }

  &__checkbox-txt {
    display: inline-block;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 15px;
    position: relative;
    color: #fff;


  }
  &__private-policy{
    display: inline-block;
    transition: .3s ease-in-out;

    &:hover{
      color:#fff;
      text-decoration: underline;
    }
  }

  &__txt--purple-l{
    color: #9B8FFF;
  }
  &__checkbox{
    display: none;
    &:checked + .callback__checkbox-fake:before{
      opacity: 1;
    }
  }
  &__checkbox-fake{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #9B8FFF;
    border-radius: 2px;
    position: relative;
    min-width: 16px;
    &:before{
      content: url("../img/check.svg");
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      opacity: 0;
      transition: .2s ease-in-out;
    }
  }
  &__checkbox-label{
    display: flex;
    column-gap: 13px;
    cursor:pointer;
    user-select: none;

    /*&:hover{
      .callback__checkbox-txt{
        &:before{
          opacity: 1;
        }
      }
    }*/
  }
  &__img-wrapper{
    position: absolute;
  }
}