.certificate {

  padding-bottom: 150px;
  @include breakpoint(md){
    padding: 0 10px 100px;
  }
  &__row {
    background-color: #F0D577;
    padding: 26px 20px;
    position: relative;
    border-radius: 10px;
    @include breakpoint(sm){
      padding: 19px 16px;
    }
  }

  &__inner-row {

    max-width: 1120px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    padding: 27px 20px 19px;
    justify-content: end;

    @include breakpoint(md){
      padding: 44px 14px 20px;
      display: flex;
      flex-direction: column;
    }
  }

  &__bitrix-img-wrapper {
    position: absolute;
    left: 34px;
    bottom: 13px;

    @include breakpoint(md){
      position: relative;
      width: 185px;
      height: 226px;
      overflow: hidden;
      margin:0 auto 43px;
      left: unset;
      bottom: unset;

      img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }

  &__bitrix-logo {
  }

  &__slider {
    display:flex;
    max-width: 560px;
    column-gap: 90px;

    @media (max-width: $maxWidth) {
      column-gap: 40px;
    }

    @include breakpoint(lg){
      column-gap: unset;
      max-width: unset;
    }
  }

  &__slide {
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #9F9F9F;
    max-width: 212px;
    margin:0 auto 6px;
  }

  &__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color:$mainColor;
    max-width: 212px;
    margin:0 auto 14px;
  }

  &__img-wrapper {
    width: 231px;
    height: 327px;
    position: relative;
    overflow: hidden;
    @include breakpoint(md){
      width: 429px;
      height: 607px;
    }
    @include breakpoint(sm){
      width: 260px;
      height: 395px;
    }

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      transform:translate(-50%, -50%);
      object-fit: cover;
      transition: .3s ease-in-out;
    }



  }

  &__img {
  }

  .swiper{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    @include breakpoint(lg){
      flex-basis: 50%;
    }
  }
  .swiper-slide{
    width: fit-content !important;

    @include breakpoint(lg){
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
 /* .swiper-pagination{
    display: none;
  }*/
  .swiper-wrapper{
    &.disabled{
      transform: translate3d(0px, 0, 0) !important;
    }
  }
  .swiper-pagination{
    display: none;
    @include breakpoint(lg){
      display: block;
      position: static;
      //bottom: -50px;
    }
    .swiper-pagination-bullet{
      height: 15px;
      width: 21px;
      background: #B8B8B8;
      border-radius: 8px;
      transition: .3s ease-in-out;

      &-active{
        width: 40px;
        background: $secondaryColor;
      }
    }
  }

}