.hero {

  padding: 70px 0 76px;
  @include breakpoint(md){
    padding: 131px 10px 54px;
  }
  @include breakpoint(sm){
    padding-top: 102px;
  }
  @include breakpoint(xs38){
    padding-top: 96px;
  }
  .content {
  }

  &__row {

  }

  &__l-content {
    display: flex;
    flex-direction: column;
    row-gap: 116px;
    position: relative;
    z-index: 2;
    @include breakpoint(md){
      row-gap: 54px;
    }
    @include breakpoint(xs38){
      row-gap: 50px;
    }
    img:first-child{
      z-index: 0;
    }
    img:last-child{
      z-index: 1;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 33px;

    @include breakpoint(md){
      row-gap: 21px;
    }
    @include breakpoint(sm){
      row-gap: calc(100vw / 1.4);
    }
  }

  &__title {
    max-width: 655px;
    transform:translateY(-100px);
    opacity: 0;
    transition: transform .5s ease-in, opacity .6s ease-in;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:$mainColor;
    max-width: 620px;
    opacity: 0;
    transform: translateY(80px);
    transition: transform .5s ease-in, opacity .5s ease-in;
    @include fluid-type(768px, $maxWidth, 12px, 16px);
    @include breakpoint(md){
      max-width: 360px;
      line-height: 15px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @include breakpoint(md){
      row-gap: 10px;
    }
  }

  &__btn {
  }

  &__desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 137.4%;
    color:$mainColor;
    max-width: 472px;
    transition:  opacity .5s ease-in, transform .5s ease-in;
    transform: translateY(100px);
    opacity: 0;
    @include fluid-type(768px, $maxWidth, 12px, 14px);
    @include breakpoint(md){
      max-width: 290px;
      transform: translateY(70px);
    }
    @include breakpoint(sm){
      max-width: 100%;
      text-align: center;
    }
  }

  &__bg-wrapper{
    position: absolute;
    width: 784px;
    height: 784px;
    background-image: url("../img/circles.png");
    @include cover-background;
    top: 10px;
    right: 54px;
    @include breakpoint(xl){
      width: calc(100vw / 1.48);
      height: calc(100vw / 1.48);
      right: -10%;
    }
    @include breakpoint(md){
      max-width: 647px;
      width: calc(100vw / 1.187);
      height: calc(100vw / 1.187);
      right: -15%;
      top: 20px;
    }
    @include breakpoint(sm){
      top: 40px;
      right: unset;
      width: calc(100vw * 1.14);
      height: calc(100vw * 1.14);
    }
  }
  &__bg-inner{
    position: relative;

    img {
      position: absolute;
      max-width: 855px;
      top: 62px;
      width: calc(100vw / 1.68);
      right: -5%;
      @include breakpoint(md){
        max-width: 569px;
        width: calc(100vw/1.35);
        top: 105px;
      }
      @include breakpoint(sm){
        width: calc(100vw / 0.81);
        top: calc(100vw / 10);
        right: unset;
      }
      @include breakpoint(xs38){
        top: calc(100vw / 7);
      }
    }
  }
  &__img-bg{
    opacity: 0;
    transform: translateX(250px);
    transition: transform .5s ease-in, opacity .5s ease-in;
  }


/*  &__img-bg-wrapper {

    @include cover-background;
    position: absolute;
    top: 10px;
    right: -66px;

    img{
      position: absolute;
    }
  }*/
  &__arrow-bottom{
    margin: 80px auto 80px;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    transition: .3s ease-in-out;
    position: relative;
    cursor: pointer;
    opacity: 0;
    
    @include breakpoint(md){
      margin: 106px auto 54px;
    }
    @include breakpoint(sm){
      margin: 28px auto 60px;
    }
    &:hover{
      box-shadow: 2px 2px 4px 0 #000000;
      top: 3px;
    }
  }

}
@keyframes animArrow{
  0%{
    opacity: 0;
    transform:translateY(-50px);
  }
  30%{
    opacity: .5;
    transform:translateY(0);
  }
  45%{
    transform: translateY(5px);
    opacity: .7;
  }
  60%{
    opacity: 1;
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-5px);
  }
  100%{

    transform: translateY(0px);
  }
}