.picture {

  .content{
    height: 100%;
  }
  &__bg-image{
    min-height: 590px;
    background-image: url("../img/picture.jpg");
    @include cover-background;
    @include breakpoint(md){
      //min-height: 460px;
      min-height: calc(100vw / 1.67);
    }

    @include breakpoint(xs38){
      min-height: calc(100vw / 1.43);
      //min-height: 250px;
    }
  }
  .content-outer{
    max-width: 1440px;
    margin: 0 auto;

  }
}


