.research {
  overflow-x:hidden ;
  padding-bottom: 120px;
  @include breakpoint(md){
    padding: 0 10px 100px;
  }

  .content-outer{
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
  }
  &__img-block{
    //background-image: url("../img/research.jpg");
  }
  &__row {
    display: flex;
    column-gap: 10px;

    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__content {
  }

  &__txt {
    flex-basis: 48%;

  }

  &__title {
    margin-bottom: 66px;

    @include breakpoint(md){
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2A2367;
    margin-bottom: 25px;
    @include fluid-type(768px, $maxWidth, 12px, 18px);

    @include breakpoint(md){
      line-height: 15px;
      margin-bottom: 20px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__img-wrapper {
    position: relative;
    flex-basis: 52%;
    height: auto;
    @include breakpoint(sm){
      margin: 0 auto;
    }
    //flex-basis: 100%;
  }

  &__img {
    bottom: 0;
    position: absolute;
    min-width: 667px;
    width: 100%;
    height: 556px;
    @include breakpoint(md){
      min-width: calc(100vw / 2.08);
      height: calc(100vw / 2.49);
      right: -6px;
      bottom: unset;
      top: 50%;
      transform:translateY(-50%);
    }
    @include breakpoint(sm){
      transform:unset;
      position: static;
      width: 100%;
      height: auto;
    }
  }
}