.steps {
  padding-bottom: 150px;

  @include breakpoint(md){
    padding: 0 10px 100px ;
  }

  &__row {
    //display:flex;

  }

  &__title {
    margin-bottom: 34px;

    @include breakpoint(md){
      margin-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  &__nav {

    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    min-width: 400px;
    //width: 100%;
    height: fit-content;
    @include breakpoint(lg){
      //min-width: 340px;
      display: none;
    }

  }

  &__v-line {
    position: absolute;
    height: 400px;
    width: 5px;
    background-color: #BDBDBD;
    left:9px;
  }

  &__nav-btn {
    display: flex;
    align-items: start;
    background-color: unset;
    cursor: pointer;
    transition: .3s ease-in-out;
    &.active{
      .steps__btn-bullet{
        background-color: $secondaryColor;
      }
    }
    &:hover{
      .steps__btn-bullet{
        box-shadow: 0px 0px 7px $secondaryColor;
      }
      .steps__btn-txt{
        color: #7A6AFF;
      }
    }

  }

  &__btn-bullet {
    background-color: #BDBDBD;
    z-index: 1;
    width: 23px;
    min-width: 23px;
    height: 23px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
    line-height: 22px;
    transition:.3s ease-in-out;
    //background-color: $secondaryColor;
  }

  &__btn-bullet--first {
  }

  &__btn-txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $secondaryColor;
    text-align: start;
    transition: color .3s ease-in-out;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    @include breakpoint(lg){
      align-items: center;
      width: 100%;
    }
    @include breakpoint(xs38){
      row-gap: 50px;
    }
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(42, 35, 103, 0.15);
    border-radius: 10px;
    //padding: 23px 25px 95px 43px;
    padding: 23px 25px 95px 43px;
    @include breakpoint(lg){
      max-width: 690px;
      width: 100%;
    }
    @include breakpoint(md){
      padding: 23px 28px 95px 49px;
    }
    @include breakpoint(xs38){
      padding: 23px 20px 25px;
    }
  }

  &__c-header {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-bottom: 29px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid #EBEBEB;
    @include breakpoint(sm){
      column-gap: 37px;
    }
    @include breakpoint(xs38){
      padding-left: 1px;
      padding-right: 1px;
      margin-bottom: 25px;
    }
  }

  &__c-number {
    width: 53px;
    height: 53px;
    background: #43CD93;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    min-width: 53px;
    @include breakpoint(md){
      @include fluid-type(380px, 768px, 18px, 24px);
    }
    @include breakpoint(xs38){
      line-height: 22px;
      height: 37px;
      width: 37px;
      min-width: 37px;

    }

  }

  &__c-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $mainColor;
    @include breakpoint(md){
      @include fluid-type(380px, 768px, 12px,24px);
    }
    @include breakpoint(xs38){
      line-height: 15px;
    }
  }

  &__c-body {
  }

  &__c-txt {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 26px;
    margin-bottom: 25px;
    @include breakpoint(xs38){
      row-gap: 18px;
      margin-top: 14px;
      margin-bottom: 20px;
    }
  }

  &__c-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $mainColor;
    @include breakpoint(md){
      @include fluid-type(380px, 768px,12px , 18px)
    }
    @include breakpoint(xs38){
      line-height: 15px;
    }
  }

  &__c-img-wrapper {
  }

  &__c-img {
  }
}